In [35]:
classmates = ["Mike", "Jack", "Tom"]

In [36]:
classmates

['Mike', 'Jack', 'Tom']

In [37]:
len(classmates)

3

In [38]:
classmates[0]

'Mike'

In [39]:
classmates[1]

'Jack'

In [40]:
classmates[2]

'Tom'

In [41]:
classmates[-1]

'Tom'

In [42]:
classmates.append("Trump")

In [43]:
classmates

['Mike', 'Jack', 'Tom', 'Trump']

In [44]:
classmates.insert(1, "Jessica")

In [45]:
classmates

['Mike', 'Jessica', 'Jack', 'Tom', 'Trump']

In [46]:
classmates.pop()

'Trump'

In [47]:
classmates

['Mike', 'Jessica', 'Jack', 'Tom']

In [48]:
classmates.pop(1)

'Jessica'

In [49]:
classmates

['Mike', 'Jack', 'Tom']

In [50]:
L = ["Apple", 123, True]

In [51]:
L

['Apple', 123, True]

In [52]:
colleague = ("Mike", "Bob", "Tracy")

In [53]:
colleague

('Mike', 'Bob', 'Tracy')

In [54]:
colleague[1]

'Bob'

In [55]:
t = (1, 2, [1, 2])

In [56]:
t

(1, 2, [1, 2])

In [57]:
t[2][0] = "X"
t[2][1] = "Y"

In [58]:
t

(1, 2, ['X', 'Y'])

In [59]:
L = [["Apple", "Google", "Microsoft"], ["Java", "Python", "Rust"],
     ["Jack", "Lisa", "Tom"]]

In [60]:
#打印Apple
print(L[0][0])

Apple

In [61]:
#打印Python
print(L[1][1])

Python

In [62]:
print(L[2][1])

Lisa

In [63]:
ages = [8, 19]
for i in ages:
    if i >= 18:
        print("age is %d." % i)
        print("adult")
    else:
        print("kid")

kid
age is 19.
adult

In [64]:
height = 1.75
weight = 80.5

In [65]:
import math

In [66]:
bmi = weight / math.pow(height, 2)

In [67]:
bmi

26.285714285714285

In [68]:
if bmi < 18.5:
    print("过轻")
elif bmi < 25:
    print("正常")
elif bmi < 28:
    print("过重")
elif bmi < 32:
    print("肥胖")
else:
    print("严重肥胖")

过重

In [69]:
names = ["Mike", "Jack", "Tom"]

In [70]:
for name in names:
    print(name)

Mike
Jack
Tom

In [71]:
sum = 0
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]:
    sum = sum + x
print(sum)

45

In [72]:
list(range(5))

[0, 1, 2, 3, 4]

In [73]:
sum = 0
for x in range(101):
    sum = sum + x
print(sum)

5050

In [74]:
sum = 0
n = 99
while n > 0:
    sum = sum + n
    n = n - 2

In [75]:
a = "ABC"
b = a
a = "XYZ"
print(b)

ABC

In [76]:
L = ['Bart', 'Lisa', 'Adam']
for name in L:
    print("hello", name, end=",")

hello Bart,hello Lisa,hello Adam,

In [77]:
d = {"Mike": 95, "Bob": 75, "Tom": 85}
d["Mike"]

95

In [78]:
d["Tom"] = 60

In [79]:
d["Tom"]

60

In [80]:
"Tom" in d

True

In [81]:
d.get("Tom")

60

In [82]:
d.get("Tomas")

In [83]:
s = set([1, 2, 3])
s

{1, 2, 3}

In [84]:
s.add(4)

In [85]:
s

{1, 2, 3, 4}

In [86]:
s.remove(2)

In [87]:
s

{1, 3, 4}

In [88]:
s1 = set([1, 2, 3])
s2 = set([2, 3, 4])

In [89]:
s1 & s2

{2, 3}

In [90]:
s1 | s2

{1, 2, 3, 4}

In [91]:
n1 = 255
n2 = 1000
print(hex(n1))
print(hex(n2))

0xff
0x3e8

In [92]:
type(hex(n1))

str

In [93]:
h = hex

In [94]:
h(n1)

'0xff'

In [95]:
def my_abs(x: int) -> int:
    if not isinstance(x, (int, float)):
        raise TypeError("bad operand type")
    if (x >= 0):
        return x
    else:
        return -x

In [96]:
my_abs(-19)

19

In [97]:
my_abs(10)

10

In [99]:
my_abs("A")

TypeError: bad operand type

In [100]:
import math

In [101]:
def move(x, y, step, angle=0):
    nx = x + step * math.cos(angle)
    ny = y - step * math.sin(angle)
    return nx, ny

In [102]:
r = move(100, 100, 60, math.pi / 6)
type(r)

tuple

In [105]:
def quadratic(a, b, c):
    x1 = (-b + math.sqrt(math.pow(b, 2) - 4 * a * c)) / (2 * a)
    x2 = (-b - math.sqrt(math.pow(b, 2) - 4 * a * c)) / (2 * a)
    return x1, x2

In [106]:
quadratic(1, 3, 2)

(-1.0, -2.0)

In [107]:
# 测试：
print('quadratic(2, 3, 1) =', quadratic(2, 3, 1))

print('quadratic(1, 3, -4) =', quadratic(1, 3, -4))

quadratic(2, 3, 1) = (-0.5, -1.0)
quadratic(1, 3, -4) = (1.0, -4.0)

In [109]:
if quadratic(2, 3, 1) != (-0.5, -1.0):
    print("失败")
elif quadratic(1, 3, -4) != (1.0, -4.0):
    print("失败")
else:
    print("成功")

成功

In [111]:
def power(x, n=2):
    s = 1
    while (n > 0):
        s = s * x
        n = n - 1
    return s

In [112]:
power(5)

25

In [113]:
power(5, 5)

3125

In [115]:
def enroll(name, gender, age=18, city="Beijing"):
    print("name:", name)
    print("gender:", gender)
    print("age:", age)
    print("city", city)

In [116]:
enroll("Laura", "男")

name: Laura
gender: 男
age: 18
city Beijing

In [117]:
enroll("Mike", "男", "20")

name: Mike
gender: 男
age: 20
city Beijing

In [118]:
enroll("Jack", "女", city="Nanjing")

name: Jack
gender: 女
age: 18
city Nanjing

In [119]:
def add_end(L=None):
    if L is None:
        L = []
    L.append("END")
    return L

In [120]:
add_end()

['END']

In [121]:
add_end()

['END']

In [122]:
add_end([1, 2, 3, 4])

[1, 2, 3, 4, 'END']

In [123]:
def calc(*numbers):
    sum = 0
    for n in numbers:
        sum = sum + n * n
    return sum

In [124]:
calc(1, 2, 3, 4)

30

In [125]:
nums = [1, 2, 3, 4, 5]
calc(*nums)

55

In [127]:
def person(name, age, **kw):
    if "city" in kw:
        pass
    if "job" in kw:
        pass
    print("name:", name, "age:", age, "other:", kw)

In [128]:
person("Mike", 17)
person("Tom", 19, city="Beijing")
person("Jack", 10, gender="M", city="Leping", Dad="Mike")

name: Mike age: 17 other: {}
name: Tom age: 19 other: {'city': 'Beijing'}
name: Jack age: 10 other: {'gender': 'M', 'city': 'Leping', 'Dad': 'Mike'}

In [129]:
extra = {'city': 'Beijing', 'job': 'Engineer'}
person("Jack", 19, **extra)

name: Jack age: 19 other: {'city': 'Beijing', 'job': 'Engineer'}

In [130]:
def person1(name, age, *, city, job):
    print(name, age, city, job)

In [131]:
person1("Jack", 24, city="Beijing", job="Engineer")

Jack 24 Beijing Engineer

In [135]:
def mul(*args):
    if len(args) == 0:
        print("Please input at least one number!")
    sum = 1
    for i in args:
        if not isinstance(i, (int, float)):
            raise TypeError("Bad operand type")
        sum = sum * i
    return sum

In [136]:
mul(1, 2, 3, 4)

24

In [137]:
mul(5, 6, 78)

2340

In [138]:
def classmate(name, age=18, *args, **kw):
    print("name:", name, "age:", age, "args:", args, "kw:", kw)

In [139]:
classmate("1", 18, "a", "b", "c", hy="kkk", lll="lll")

name: 1 age: 18 args: ('a', 'b', 'c') kw: {'hy': 'kkk', 'lll': 'lll'}

In [140]:
args = ("1", 18, "a", "b", "c")
kw = {'hy': 'kkk', 'lll': 'lll'}
classmate(*args, **kw)

name: 1 age: 18 args: ('a', 'b', 'c') kw: {'hy': 'kkk', 'lll': 'lll'}

In [2]:
def fact(n):
    if n == 1:
        return 1
    return fact(n - 1) * n

In [3]:
fact(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [4]:
fact(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [5]:
# 尾递归
# 返回结果不包含表达式，返回只调用自己本身
def fact_iter(num, product):
    if num == 1:
        return product
    return fact_iter(num - 1, num * product)


def fact(n):
    return fact_iter(n, 1)

In [6]:
fact(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

汉诺塔

递归实现

In [7]:
def hanoi(n, a, b, c):
    if n == 1:
        print(a, "-->", c)  # n==1时直接将盘子从a移动到c
    else:
        hanoi(n - 1, a, c, b)  # 先将n-1个盘子移动到b
        hanoi(1, a, b, c)  # 将a上的一个盘子移动到c
        hanoi(n - 1, b, a, c)  # 将剩余n-1个盘子移动到c

In [8]:
hanoi(3, "A", "B", "C")

A --> C
A --> B
C --> B
A --> C
B --> A
B --> C
A --> C

# 高级特性

## 切片

In [17]:
L = ["Michael", "Sarah", "Tracy", "Tom", "Bob"]
L

['Michael', 'Sarah', 'Tracy', 'Tom', 'Bob']

In [10]:
L[0:3]

['Michael', 'Sarah', 'Tracy']

In [11]:
L[:3]

['Michael', 'Sarah', 'Tracy']

In [12]:
L[1:3]

['Sarah', 'Tracy']

In [13]:
L[-2]

'Tom'

In [16]:
L[-2:]

['Tom', 'Bob']

In [18]:
L[-2:-1]

['Tom']

In [21]:
L = list(range(100))

In [22]:
type(range(100))

range

In [24]:
L[:10]  # 前十个数

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
L[-10:]  # 后十个数

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [26]:
L[:10:2]  # 前十个数，每两个取一个

[0, 2, 4, 6, 8]

In [27]:
L[::5]  # 每五个取一个

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [38]:
(0, 1, 2, 3, 4, 5)[:-1]  # tuple切片还是tuple

(0, 1, 2, 3, 4)

In [1]:
print("a\tb")

a	b

In [27]:
def trim(s):
    length = len(s)
    if length == 0:
        return s
    head = 0
    while head < length and s[head] == " ":
        head = head + 1  # 从前往后检查空格数目
    tail = length
    while tail > 0 and s[tail - 1] == " ":
        tail = tail - 1
    if head != length or tail == 0:
        return s[head:tail]
    else:
        return ""  # 当全为空格时，返回空串

In [28]:
# 测试:
if trim('hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello') != 'hello':
    print('测试失败!')
elif trim('  hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello  world  ') != 'hello  world':
    print('测试失败!')
elif trim('') != '':
    print('测试失败!')
elif trim('    ') != '':
    print('测试失败!')
else:
    print('测试成功!')

测试成功!

迭代

In [29]:
d = {"a": 1, "b": 2, "c": 3}
for key in d:
    print(d[key], end=" ")

1 2 3

In [33]:
for key, value in d.items():
    print(key, end=" ")

a b c

In [34]:
for ch in "ABC":
    print(ch, end=" ")

A B C

In [35]:
from collections.abc import Iterable

isinstance("abc", Iterable)

True

In [36]:
isinstance([1, 2, 3], Iterable)

True

In [37]:
isinstance(123, Iterable)

False

In [38]:
# 下标循环
for i, value in enumerate(["A", "B", "C"]):
    print(i, value)

0 A
1 B
2 C

In [42]:
def findMinAndMax(L):
    if len(L) == 0:
        return (None, None)
    min = 0xfffffff
    max = 0
    for i in L:
        if i > max:
            max = i
        if i < min:
            min = i
    return (min, max)

In [43]:
# 测试
if findMinAndMax([]) != (None, None):
    print('测试失败!')
elif findMinAndMax([7]) != (7, 7):
    print('测试失败!')
elif findMinAndMax([7, 1]) != (1, 7):
    print('测试失败!')
elif findMinAndMax([7, 1, 3, 9, 5]) != (1, 9):
    print('测试失败!')
else:
    print('测试成功!')

测试成功!

列表生成式

In [45]:
L = [x * x for x in range(1, 11)]
L

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [46]:
[x * x for x in range(1, 11) if x % 2 == 0]

[4, 16, 36, 64, 100]

In [47]:
[m + n for m in "ABC" for n in "1234"]

['A1', 'A2', 'A3', 'A4', 'B1', 'B2', 'B3', 'B4', 'C1', 'C2', 'C3', 'C4']

In [48]:
import os

In [49]:
[d for d in os.listdir(".")]

['test.ipynb', 'test.py']

In [50]:
d = {"x": "A", "y": "B", "z": "C"}
[k + " = " + v for k, v in d.items()]

['x = A', 'y = B', 'z = C']

In [51]:
[x if x % 2 == 0 else -x for x in range(1, 11)]

[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]

In [52]:
L1 = ['Hello', 'World', 18, 'Apple', None]
L2 = [s.lower() for s in L1 if isinstance(s, str)]

In [53]:
L2

['hello', 'world', 'apple']

In [54]:
print(L2)
if L2 == ['hello', 'world', 'apple']:
    print('测试通过!')
else:
    print('测试失败!')

['hello', 'world', 'apple']
测试通过!

生成器

In [68]:
g = (x * x for x in range(1, 1111))
g

In [69]:
for n in g:
    print(n, end=" ")

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900 961 1024 1089 1156 1225 1296 1369 1444 1521 1600 1681 1764 1849 1936 2025 2116 2209 2304 2401 2500 2601 2704 2809 2916 3025 3136 3249 3364 3481 3600 3721 3844 3969 4096 4225 4356 4489 4624 4761 4900 5041 5184 5329 5476 5625 5776 5929 6084 6241 6400 6561 6724 6889 7056 7225 7396 7569 7744 7921 8100 8281 8464 8649 8836 9025 9216 9409 9604 9801 10000 10201 10404 10609 10816 11025 11236 11449 11664 11881 12100 12321 12544 12769 12996 13225 13456 13689 13924 14161 14400 14641 14884 15129 15376 15625 15876 16129 16384 16641 16900 17161 17424 17689 17956 18225 18496 18769 19044 19321 19600 19881 20164 20449 20736 21025 21316 21609 21904 22201 22500 22801 23104 23409 23716 24025 24336 24649 24964 25281 25600 25921 26244 26569 26896 27225 27556 27889 28224 28561 28900 29241 29584 29929 30276 30625 30976 31329 31684 32041 32400 32761 33124 33489 33856 34225 34596 34969 35344 35721 36100 36481 36864 37249 37636 38025 38416 38809 39204 39601 40000 40401 40804 41209 41616 42025 42436 42849 43264 43681 44100 44521 44944 45369 45796 46225 46656 47089 47524 47961 48400 48841 49284 49729 50176 50625 51076 51529 51984 52441 52900 53361 53824 54289 54756 55225 55696 56169 56644 57121 57600 58081 58564 59049 59536 60025 60516 61009 61504 62001 62500 63001 63504 64009 64516 65025 65536 66049 66564 67081 67600 68121 68644 69169 69696 70225 70756 71289 71824 72361 72900 73441 73984 74529 75076 75625 76176 76729 77284 77841 78400 78961 79524 80089 80656 81225 81796 82369 82944 83521 84100 84681 85264 85849 86436 87025 87616 88209 88804 89401 90000 90601 91204 91809 92416 93025 93636 94249 94864 95481 96100 96721 97344 97969 98596 99225 99856 100489 101124 101761 102400 103041 103684 104329 104976 105625 106276 106929 107584 108241 108900 109561 110224 110889 111556 112225 112896 113569 114244 114921 115600 116281 116964 117649 118336 119025 119716 120409 121104 121801 122500 123201 123904 124609 125316 126025 126736 127449 128164 128881 129600 130321 131044 131769 132496 133225 133956 134689 135424 136161 136900 137641 138384 139129 139876 140625 141376 142129 142884 143641 144400 145161 145924 146689 147456 148225 148996 149769 150544 151321 152100 152881 153664 154449 155236 156025 156816 157609 158404 159201 160000 160801 161604 162409 163216 164025 164836 165649 166464 167281 168100 168921 169744 170569 171396 172225 173056 173889 174724 175561 176400 177241 178084 178929 179776 180625 181476 182329 183184 184041 184900 185761 186624 187489 188356 189225 190096 190969 191844 192721 193600 194481 195364 196249 197136 198025 198916 199809 200704 201601 202500 203401 204304 205209 206116 207025 207936 208849 209764 210681 211600 212521 213444 214369 215296 216225 217156 218089 219024 219961 220900 221841 222784 223729 224676 225625 226576 227529 228484 229441 230400 231361 232324 233289 234256 235225 236196 237169 238144 239121 240100 241081 242064 243049 244036 245025 246016 247009 248004 249001 250000 251001 252004 253009 254016 255025 256036 257049 258064 259081 260100 261121 262144 263169 264196 265225 266256 267289 268324 269361 270400 271441 272484 273529 274576 275625 276676 277729 278784 279841 280900 281961 283024 284089 285156 286225 287296 288369 289444 290521 291600 292681 293764 294849 295936 297025 298116 299209 300304 301401 302500 303601 304704 305809 306916 308025 309136 310249 311364 312481 313600 314721 315844 316969 318096 319225 320356 321489 322624 323761 324900 326041 327184 328329 329476 330625 331776 332929 334084 335241 336400 337561 338724 339889 341056 342225 343396 344569 345744 346921 348100 349281 350464 351649 352836 354025 355216 356409 357604 358801 360000 361201 362404 363609 364816 366025 367236 368449 369664 370881 372100 373321 374544 375769 376996 378225 379456 380689 381924 383161 384400 385641 386884 388129 389376 390625 391876 393129 394384 395641 396900 398161 399424 400689 401956 403225 404496 405769 407044 408321 409600 410881 412164 413449 414736 416025 417316 418609 419904 421201 422500 423801 425104 426409 427716 429025 430336 431649 432964 434281 435600 436921 438244 439569 440896 442225 443556 444889 446224 447561 448900 450241 451584 452929 454276 455625 456976 458329 459684 461041 462400 463761 465124 466489 467856 469225 470596 471969 473344 474721 476100 477481 478864 480249 481636 483025 484416 485809 487204 488601 490000 491401 492804 494209 495616 497025 498436 499849 501264 502681 504100 505521 506944 508369 509796 511225 512656 514089 515524 516961 518400 519841 521284 522729 524176 525625 527076 528529 529984 531441 532900 534361 535824 537289 538756 540225 541696 543169 544644 546121 547600 549081 550564 552049 553536 555025 556516 558009 559504 561001 562500 564001 565504 567009 568516 570025 571536 573049 574564 576081 577600 579121 580644 582169 583696 585225 586756 588289 589824 591361 592900 594441 595984 597529 599076 600625 602176 603729 605284 606841 608400 609961 611524 613089 614656 616225 617796 619369 620944 622521 624100 625681 627264 628849 630436 632025 633616 635209 636804 638401 640000 641601 643204 644809 646416 648025 649636 651249 652864 654481 656100 657721 659344 660969 662596 664225 665856 667489 669124 670761 672400 674041 675684 677329 678976 680625 682276 683929 685584 687241 688900 690561 692224 693889 695556 697225 698896 700569 702244 703921 705600 707281 708964 710649 712336 714025 715716 717409 719104 720801 722500 724201 725904 727609 729316 731025 732736 734449 736164 737881 739600 741321 743044 744769 746496 748225 749956 751689 753424 755161 756900 758641 760384 762129 763876 765625 767376 769129 770884 772641 774400 776161 777924 779689 781456 783225 784996 786769 788544 790321 792100 793881 795664 797449 799236 801025 802816 804609 806404 808201 810000 811801 813604 815409 817216 819025 820836 822649 824464 826281 828100 829921 831744 833569 835396 837225 839056 840889 842724 844561 846400 848241 850084 851929 853776 855625 857476 859329 861184 863041 864900 866761 868624 870489 872356 874225 876096 877969 879844 881721 883600 885481 887364 889249 891136 893025 894916 896809 898704 900601 902500 904401 906304 908209 910116 912025 913936 915849 917764 919681 921600 923521 925444 927369 929296 931225 933156 935089 937024 938961 940900 942841 944784 946729 948676 950625 952576 954529 956484 958441 960400 962361 964324 966289 968256 970225 972196 974169 976144 978121 980100 982081 984064 986049 988036 990025 992016 994009 996004 998001 1000000 1002001 1004004 1006009 1008016 1010025 1012036 1014049 1016064 1018081 1020100 1022121 1024144 1026169 1028196 1030225 1032256 1034289 1036324 1038361 1040400 1042441 1044484 1046529 1048576 1050625 1052676 1054729 1056784 1058841 1060900 1062961 1065024 1067089 1069156 1071225 1073296 1075369 1077444 1079521 1081600 1083681 1085764 1087849 1089936 1092025 1094116 1096209 1098304 1100401 1102500 1104601 1106704 1108809 1110916 1113025 1115136 1117249 1119364 1121481 1123600 1125721 1127844 1129969 1132096 1134225 1136356 1138489 1140624 1142761 1144900 1147041 1149184 1151329 1153476 1155625 1157776 1159929 1162084 1164241 1166400 1168561 1170724 1172889 1175056 1177225 1179396 1181569 1183744 1185921 1188100 1190281 1192464 1194649 1196836 1199025 1201216 1203409 1205604 1207801 1210000 1212201 1214404 1216609 1218816 1221025 1223236 1225449 1227664 1229881 1232100

In [66]:
def fib(max):
    n, a, b = 0, 0, 1
    while n < max:
        print(b, end=" ")
        a, b = b, a + b
        n = n + 1
    return "Done"

In [67]:
fib(6)

1 1 2 3 5 8

'Done'

In [70]:
# generator 与函数的区别在于函数在遇到return时结束，generator是遇到yield就返回结果
# 下次调用时从yield开始

In [71]:
def fib(max):
    n, a, b = 0, 0, 1
    while (n < max):
        yield b
        a, b = b, a + b
        n = n + 1
    return "Done"

In [73]:
g = fib(10)
g

In [74]:
# 调用generator会生成一个对象，调用多次会产生多个相互独立的对象
def odd():
    print("step 1")
    yield 1
    print("step 2")
    yield 2
    print("step 3")
    yield 3

In [77]:
g = odd()
next(g)
next(g)
next(g)

step 1
step 2
step 3

3

In [78]:
g = fib(6)

In [79]:
while True:
    try:
        x = next(g)
        print(x)
    except StopIteration as e:
        print("Generator return value:", e.value)
        break

1
1
2
3
5
8
Generator return value: Done

In [80]:
# 杨辉三角
def triangles():
    L = [1]
    yield L
    n = 2
    while True:
        L = [1] + [L[j] + L[j - 1] for j in range(1, n - 1) if n > 2] + [1]
        yield L
        n = n + 1

In [81]:
n = 0
results = []
for t in triangles():
    results.append(t)
    n = n + 1
    if n == 10:
        break

In [82]:
for t in results:
    print(t)

if results == [[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1],
               [1, 5, 10, 10, 5, 1], [1, 6, 15, 20, 15, 6, 1],
               [1, 7, 21, 35, 35, 21, 7, 1], [1, 8, 28, 56, 70, 56, 28, 8, 1],
               [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]]:
    print('测试通过!')
else:
    print('测试失败!')

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]
[1, 6, 15, 20, 15, 6, 1]
[1, 7, 21, 35, 35, 21, 7, 1]
[1, 8, 28, 56, 70, 56, 28, 8, 1]
[1, 9, 36, 84, 126, 126, 84, 36, 9, 1]
测试通过!

迭代器

In [83]:
from collections.abc import Iterable

In [85]:
# 能够被for循环的对象称为可迭代对象
isinstance([], Iterable)

True

In [87]:
isinstance((x * x for x in range(11)), Iterable)

True

In [89]:
# 可以被next()函数调用并不断返回下一个值的称为迭代器Iterator
from collections.abc import Iterator

In [90]:
isinstance((x for x in range(10)), Iterator)

True

In [91]:
isinstance("abc", Iterator)

False

In [94]:
# Iterator是一个数据流，可以迭代但是不知道长度，计算是惰性的，只有需要下一个数据时才会计算
# Iterable可以通过iter()函数获得一个Iterator对象

In [95]:
iter([1, 2, 3])

In [97]:
it = iter([1, 2, 3, 4, 5])
while True:
    try:
        x = next(it)
        print(x, end=" ")
    except StopIteration:
        break

1 2 3 4 5

# 函数式编程

## 高阶函数

In [2]:
# 函数本身也可以赋值给变量
f = abs
f

In [3]:
f(-10)

10

In [4]:
def add(x, y, f):
    return f(x) + f(y)

In [5]:
add(-5, 6, abs)

11

map/reduce

In [9]:
# map()有两个参数，一个是函数，一个是Iterable，将f作用在Iterable上的每个元素，并返回一个Iterator


def f(x):
    return x * x


r = map(f, [1, 2, 3, 4, 5, 6, 7, 8, 9])
type(r)

map

In [10]:
from collections.abc import Iterator

isinstance(r, Iterator)

True

In [11]:
list(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [12]:
list(map(str, [1, 2, 3, 4, 5, 6, 7, 8, 9]))

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [13]:
# reduce是把结果继续和序列的下一个元素进行累积计算
# reduce(f, [x1, x2, x3, x4])=f(f(f(x1, x2), x3), x4)
from functools import reduce


def add(x, y):
    return x + y


reduce(add, [1, 3, 5, 7, 9])

25

In [14]:
def fn(x, y):
    return 10 * x + y


reduce(fn, [1, 3, 5, 7, 9])

13579

In [15]:
DIGITS = {
    "0": 0,
    "1": 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9
}


def char2num(s):
    return DIGITS[s]


def str2int(s):
    return reduce(lambda x, y: x * 10 + y, map(char2num, s))

In [22]:
def normalize(s: str):
    s1 = s.lower()
    s2 = s1[0].upper()
    return s2 + s1[1:]


normalize("LISA")

'Lisa'

In [23]:
L1 = ['adam', 'LISA', 'barT']
L2 = list(map(normalize, L1))
print(L2)

['Adam', 'Lisa', 'Bart']

In [24]:
def prod(L):
    if len(L) == 0:
        return 0
    return reduce(lambda x, y: x * y, L)

In [25]:
print('3 * 5 * 7 * 9 =', prod([3, 5, 7, 9]))
if prod([3, 5, 7, 9]) == 945:
    print('测试成功!')
else:
    print('测试失败!')

3 * 5 * 7 * 9 = 945
测试成功!

In [50]:
DIGITS = {
    "0": 0,
    "1": 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5': 5,
    '6': 6,
    '7': 7,
    '8': 8,
    '9': 9
}


def str2int(s):
    return DIGITS[s]


def str2float(s):
    point = s.index(".")
    s1 = s.replace(".", "")
    i1 = reduce(lambda x, y: x * 10 + y, map(str2int, s1))

    return i1 / 10**(len(s) - point - 1)


print('str2float(\'123.456\') =', str2float('123.456'))
if abs(str2float('123.456') - 123.456) < 0.00001:
    print('测试成功!')
else:
    print('测试失败!')

str2float('123.456') = 123.456
测试成功!

In [51]:
print(str2float("1.12819"))

1.12819

filter

In [53]:
# 用于过滤序列，不满足筛选函数的被淘汰
def is_odd(n):
    return n % 2 == 1


list(filter(is_odd, [1, 2, 4, 5, 6, 7, 8, 9]))

[1, 5, 7, 9]

In [54]:
# 删除空字符串
def not_empty(s):
    return s and s.strip()


list(filter(not_empty, ["A", "B", "", " ", None]))

['A', 'B']

In [55]:
def _odd_iter():
    n = 1
    while True:
        n = n + 2
        yield n
        # 生成一个从3开始的奇数序列

In [56]:
def _not_divisible(n):
    return lambda x: x % n > 0


def primes():
    yield 2
    it = _odd_iter()
    while True:
        n = next(it)  # 返回序列的第一个数
        yield n
        it = filter(_not_divisible(n), it)  # 构造新序列


# 首先返回序列的第一个数，然后筛选该数的所有倍数得到新的序列，重复

In [58]:
for i in primes():
    if i < 1000:
        print(i, end=" ")
    else:
        break

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [74]:
# 筛选回数，例：121,909
def is_palindrome(n):
    # s = str(n)
    # i = 0
    # while i < (len(s) // 2):
    #     if s[i] != s[len(s) - i - 1]:
    #         return False
    #     i = i + 1
    # return True
    # python中列表每隔-1取即为逆序排列
    return str(n) == str(n)[::-1]

In [75]:
# 测试:
output = filter(is_palindrome, range(1, 1000))
print('1~1000:', list(output))
if list(filter(is_palindrome, range(1, 200))) == [
        1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101,
        111, 121, 131, 141, 151, 161, 171, 181, 191
]:
    print('测试成功!')
else:
    print('测试失败!')

1~1000: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]
测试成功!

In [73]:
str(18199)[::-1]

'99181'

sorted

In [76]:
sorted((1, 32, 2))

[1, 2, 32]

In [78]:
type(sorted([1, 2]))

list

In [79]:
sorted([36, -12, 8, -7], key=abs)

[-7, 8, -12, 36]

In [80]:
sorted(['bob', 'about', 'Zoo', 'Credit'])

['Credit', 'Zoo', 'about', 'bob']

In [82]:
sorted(['bob', 'about', 'Zoo', 'Credit'], key=str.lower)

['about', 'bob', 'Credit', 'Zoo']

In [84]:
sorted(['bob', 'about', 'Zoo', 'Credit'], key=str.lower, reverse=True)
# 反向排序

['Zoo', 'Credit', 'bob', 'about']

In [86]:
L = [('Bob', 75), ('Adam', 92), ('Bart', 66), ('Lisa', 88)]

In [87]:
def by_name(t):
    return t[0]

In [88]:
L2 = sorted(L, key=by_name)
print(L2)

[('Adam', 92), ('Bart', 66), ('Bob', 75), ('Lisa', 88)]

In [89]:
def by_score(t):
    return t[1]

In [91]:
L2 = sorted(L, key=by_score, reverse=True)
print(L2)

[('Adam', 92), ('Lisa', 88), ('Bob', 75), ('Bart', 66)]

返回函数

In [92]:
# 可以将函数作为结果返回
def lazy_sum(*args):

    def sum():
        ax = 0
        for n in args:
            ax = ax + n
        return ax

    return sum


# 调用lazy_sum时，返回的不是结果，而是求和函数
f = lazy_sum(1, 3, 5, 7, 9)
type(f)

function

In [94]:
# 调用f时，才会开始计算结果
f()
# 内部函数可以调用外部函数的参数和变量，外部函数返回时，相关变量被保存在返回的函数中，称为闭包

25

In [95]:
# 每次调用都会返回一个新的函数，即使传入相同的参数，返回的也不同
f1 = lazy_sum(1, 3, 5, 7, 9)
f2 = lazy_sum(1, 3, 5, 7, 9)
f1 == f2

False

In [96]:
# 返回的函数没有立即执行，而是调用了f()才执行
def count():
    fs = []
    for i in range(1, 4):

        def f():
            return i * i

        fs.append(f)
    return fs


f1, f2, f3 = count()

In [97]:
f1()

9

In [98]:
f2()

9

In [99]:
f3()

9

In [100]:
# 因为返回的函数引用了变量i，等待三个函数都返回时，i已经变成了3

In [101]:
def count():

    def f(j):

        def g():
            return j * j

        return g

    fs = []
    for i in range(1, 4):
        fs.append(f(i))  # f(i)立即执行，将i当前值传入f()，传入的值不会受到外部的改变
    return fs

In [102]:
f1, f2, f3 = count()

In [103]:
f1

In [104]:
# 内部函数引用外部函数的局部变量，如果只是读取外层变量的值，调用正常
# 但是对外层变量赋值就会报错，因为将外部变量当做内部函数的局部变量，没有初始化，需要加上nonlocal定义
def inc():
    x = 0

    def fn():
        x = x + 1
        return x

    return fn


f = inc()
print(f())

UnboundLocalError: local variable 'x' referenced before assignment

In [105]:
def inc():
    x = 0

    def fn():
        nonlocal x
        x = x + 1
        return x

    return fn


f = inc()
print(f())

1

In [106]:
def createCounter():
    x = 0

    def counter():
        nonlocal x
        x = x + 1
        return x

    return counter

In [107]:
# 测试:
counterA = createCounter()
print(counterA(), counterA(), counterA(), counterA(), counterA())  # 1 2 3 4 5
counterB = createCounter()
if [counterB(), counterB(), counterB(), counterB()] == [1, 2, 3, 4]:
    print('测试通过!')
else:
    print('测试失败!')

1 2 3 4 5
测试通过!

In [109]:
def tag(tag_name):

    def add_tag(content):
        print("<{0}>{1}</{0}>".format(tag_name, content))

    return add_tag


add_tag = tag("a")
add_tag("Hello")
add_tag = tag("b")
add_tag("help")

# 闭包可以让外部访问函数内部的变量

<a>Hello</a>
<b>help</b>

匿名函数

In [1]:
# 将匿名函数赋值给变量
f = lambda x: x * x
f

In [2]:
f(5)

25

In [3]:
# 可以将匿名函数当作返回值
def build(x, y):
    return lambda: x * x + y * y

In [8]:
f = build(1, 2)
f(2, 4)

TypeError: build.<locals>.<lambda>() takes 0 positional arguments but 2 were given

In [9]:
f()

5

In [11]:
def is_odd(n):
    return n % 2 == 1


L = list(filter(lambda n: n % 2 == 1, range(1, 20)))
L

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

装饰器

In [12]:
is_odd.__name__

'is_odd'

In [14]:
# 增强函数的功能但是不修改定义，在代码运行期间动态增加功能称为装饰器
# decorator本质上是返回函数的高阶函数

In [16]:
def log(func):

    def wrapper(*args, **kw):
        print("call %s()" % func.__name__)
        return func(*args, **kw)

    return wrapper


@log
def now():
    print("2023-4-20")

In [17]:
now()

call now()
2023-4-20

In [18]:
# @log相当于执行now = log(now)，此时的now变量指向了wrapper()，调用now()时会执行wrapper()

In [19]:
now.__name__

'wrapper'

In [21]:
# 修改__name__属性
import functools


def log(func):

    @functools.wraps(func)
    def wrapper(*args, **kw):
        print("call %s()" % func.__name__)
        return func(*args, **kw)

    return wrapper


@log
def now():
    print("2023-4-20")


now.__name__

'now'

In [23]:
# 如果装饰器需要传入参数，则需要一个返回decorator的高阶函数
def log(text):

    def decorator(func):

        @functools.wraps(func)
        def wrapper(*args, **kw):
            print("%s %s" % (text, func.__name__))
            return func(*args, **kw)

        return wrapper

    return decorator


@log("execute")
def now():
    print("2023-4-20")


now()

execute now
2023-4-20

In [24]:
# 这里@log("execute")相当于执行now = log("execute")(now)

In [27]:
import time, functools


def metric(fn):

    @functools.wraps(fn)
    def wrapper(*args, **kw):
        start = time.time()
        result = fn(*args, **kw)
        end = time.time()
        print('%s executed in %s ms' % (fn.__name__, end - start))
        return result

    return wrapper

In [28]:
# 测试
@metric
def fast(x, y):
    time.sleep(0.0012)
    return x + y


@metric
def slow(x, y, z):
    time.sleep(0.1234)
    return x * y * z


f = fast(11, 22)
s = slow(11, 22, 33)
if f != 33:
    print('测试失败!')
elif s != 7986:
    print('测试失败!')

fast executed in 0.0019769668579101562 ms
slow executed in 0.12356877326965332 ms

In [29]:
fast.__name__

'fast'

In [30]:
def log(func):

    @functools.wraps(func)
    def wrapper(*args, **kw):
        print("begin call")
        result = func(*args, **kw)
        print("end call")
        return result

    return wrapper

In [31]:
@log
def f():
    pass

In [32]:
f()

begin call
end call

In [64]:
import functools

from types import FunctionType, MethodType


def log(param):

    def decorator(fn, text=param):

        @functools.wraps(fn)
        def wrapper(*args, **kw):
            print("func %s begin" % fn.__name__)
            if text is not None:
                print("text is", text)
            result = fn(*args, **kw)
            print("func %s end" % fn.__name__)
            return result

        return wrapper

    # 如果param是函数，则返回执行完毕的decorator，即wrapper
    # 如果param是参数，则返回decorator
    if param is isinstance(param, (FunctionType, MethodType)) or hasattr(
            param, "__call__"):
        return decorator(param, None)  # decorator(fn, None) type is wrapper
    return decorator

In [65]:
@log
def f():
    pass


f()

func f begin
func f end

In [66]:
@log("test")
def f():
    pass


f()

func f begin
text is test
func f end

In [ ]:
# 装饰器可以增强函数的功能，而不改变函数的定义，本质上是将函数的变量指向另一个函数
# 通过不同的参数，可以执行不同的模式，例：@log("execute"),@log("debug")可以记录执行日志和调试日志，但是函数本身不需要进行修改